body {
	background-color: #dff0ff;
}

.App {
	flex: 1;
	text-align: center;
}

.App-logo {
	height: 80px;
}

.App-header {
	height: 120px;
	padding: 20px;
	color: black;
}

h1 {
	text-align: center;
	font-family: 'Segoe UI Light';
}

h3 {
	font-family: 'Segoe UI Light';
}

.App-intro {
	font-size: large;
}

.card {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
	transition: 0.4s;
	background-color: white;
	cursor: pointer;
	width: fit-content;
}

.card:hover {
	box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding-top: 1cm;
	display: flex;
	justify-content: center;
}

.boardhead {
	text-align: center;
	margin-top: 1.5cm;
}

td {
	height: 70px;
	width: 70px;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-size: 50px;
}

tbody {
	text-align: center;
}

td:hover {
	background-color: #5938ff;
}

.btn-danger {
	margin: 10px;
}

.table {
	width: 100%;
	align-self: center;
}

.img {
	padding-top: 2cm;
	width: 100px;
	height: auto;
}

.btn-info {
	font-family: 'Segoe UI';
	position: fixed;
	bottom: 1px;
	right: 5%;
	width: 15%;
	background-color: #2499f1;
	font-size: 17px;
}

.chatBox {
	right: 5%;
	height: auto;
	min-height: 400px;
	max-height: 450px;
	position: fixed;
	bottom: 1px;
	width: 25%;
	background-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.chatHead {
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 20px;
	position: relative;
	top: 0;
	height: 40px;
	width: 100%;
	background-color: #2499f1;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.close {
	font-family: 'Segoe UI';
	right: 1px;
	margin-right: 5px;
	margin-top: 5px;
	color: #000000;
	border: solid 1px #ffffff;
	border-radius: 5px;
}

.input {
	position: absolute;
	bottom: 1px;
	width: 93%;
	height: 50px;
	font-size: 20px;
	border: none;
	border-top: solid 1px lightgray;
	padding-left: 10px;
}

.input:focus {
	outline: none;
}

.yourMessage {
	background-color: #38a9ff;
	margin: 3px;
	border-radius: 10px;
	margin-top: 10px;
	min-height: 30px;
	padding: 10px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	color: white;
}

.opponentMessage {
	background-color: #c8eeff;
	margin: 3px;
	border-radius: 10px;
	margin-top: 10px;
	min-height: 30px;
	padding: 10px;
	font-size: 20px;
	display: inline-block;
	position: relative;
}

.conversation {
	height: 300px;
	overflow-y: scroll;
}
.alertSign {
	margin-left: 10px;
	position: relative;
	color: red;
	display: inline-block;
	animation: alert infinite 0.5s;
}

@keyframes alert {
	50% {
		top: 0px;
	}
	50% {
		top: 2px;
	}
}
